body {
    width:960px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left:20px;
}
.list{
    padding-inline-start: 0px;
}
.list li{
    list-style-type: none;
    padding-inline-start: none;
}

.b{
    list-style-position: outside;
}
li a {
    color: #CC1C0D;
    padding-left: 0px;
}
.b{
    list-style-position: outside;
}
h2 {
    color: #CC1C0D ;
    background-color: #DFE3E6 ;
    border: 1px solid #929CA4;
    border-radius: 8px;
    font-size: 1.2em;
    padding-left: 10px;
}

h3{
    padding-top: 12px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
}
a {
    color: #CC1C0D ;
}
section:not(.pricing) img{
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 40px;
    float: left;
    border: 1px solid #CC1C0D;
    
}

.pricing .div1{
    float: left;
    border: 1px solid #929CA4;
    border-radius: 10px;
    text-align:center;
    margin-left: 3px;
    margin-right: 3px;
}

.div1_inside{
    border-bottom: solid 10px;
    color: #CC1C0D;
    padding-top:10px;
    padding-bottom: 10px;
}


.pricing .div2{
    float: left;
    border: 1px solid #929CA4;
    border-radius: 10px;
    text-align:center;
    margin-left: 3px;
    margin-right: 3px;
    
}

.div2_inside{
    border-bottom: solid 10px;
    color: #37A4A4;
    padding-top:10px;
    padding-bottom: 10px;
}

.pricing .div3{
    float: left;
    border: 1px solid #929CA4;
    border-radius: 10px;
    text-align:center;
    margin-left: 3px;
    margin-right: 3px;
    
}

.div3_inside{
    border-bottom: solid 10px;
    color: #685288;
    padding-top:10px;
    padding-bottom: 10px;
}


.pricing .div4{
    float: left;
    border: 1px solid #929CA4;
    border-radius: 10px;
    text-align:center;
    margin-left: 3px;
    margin-right: 3px;
    
}

.div4_inside{
    text-align: center;
    padding-bottom:14px;
    border-bottom: solid 10px;
    color: #000000;
    padding-top:20px;
}





